

.note-edit-container .screen{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0;
    left:0;
    z-index: 998;
    background-color: rgba(41, 34, 34, 0.582);
}

.editor-wrapper{
    /* width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    z-index: 999;
}

.editor-wrapper .note-container{
    width: 100%;
    height: 100%;
    border: none;
    min-height: 150px;

}

@media screen and (min-width: 769px){
    .editor-wrapper{
        width: 500px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 999;
    }
}

@media screen and (min-width: 541px) and (max-width: 768px){

}

@media screen and (min-width: 360px) and (max-width: 540px){

    .note-edit-container{
        width: 100vw;
    }
    .editor-wrapper{
        width: 100%;
        position: relative;
    }

    .editor-container .note-container{
        position: absolute;
        bottom: 0;
    }
}