/* Layout */
.note-container{
    max-width: 100%;
    padding: 1em;
    border: 1px solid #DDDDDE;
    border-radius: 10px;
    margin-bottom: 1em;
    position: relative;
    
}

.note-container>*{
    max-width: 100%;
}


/* TEXT NOTES */
.note-container .text{
    padding-left: 5px;
    outline: none;
    word-wrap: break-word;
}

.note-container .text:empty:before{
    content: "Start typing...";
    color: grey;
}


/* LIST NOTES */
.list-line-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 0.5em;
}

.line{
    flex-grow: 2;
    padding-left: 5px;
    outline: none;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
}

.temp-line{
    outline: none;
    margin: 5px 0;
}


/* Checkbox styling */
.regular-checkbox{
    -webkit-appearance: none;
	background-color: transparent;
	border: 1px solid black;
	padding: 6px;
	border-radius: 1px;
	display: inline-block;
    position: relative;
    margin-right: 1em;
}

.regular-checkbox:focus{
    outline: none;
}


.regular-checkbox:checked:after {
	content: '✓';
	font-size: 14px;
	position: absolute;
	top: -4px;
	left: 1px;
	color: black;
}

.list-line-container i{
    margin: 0 0.5em;
}

/* Video-Notes */

.video-note-container input{
    padding: 5px;
    margin-bottom: 10px;
}

/* Image-Notes */
.image-note-container .text{
    margin-bottom: 10px;
}
.image-note-container img{
    max-width: 100%;
}